{{outlet}}
<div class="row col-md-4 col-md-offset-4">
  <form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      {{input type="text" class="form-control" value=model.nombre}}
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      {{textarea class="form-control" rows="5" id="descripcion" value=model.descripcion}}
    </div>
    <div class="form-group">
      <label for="tipo">Tipo</label>
      {{input type="text" class="form-control" value=model.tipo}}
    </div>
    <div class="form-group">
      <label for="serial">Serial</label>
      {{input type="text" class="form-control" value=model.serial}}
    </div>
    <div class="form-group">
      <label for="numero_interno">Numero Interno</label>
      {{input type="text" class="form-control" value=model.numero_interno}}
    </div>
    <div class="form-group">
      <label for="Peso">Peso</label>
      {{input type="text" class="form-control" value=model.peso}}
    </div>
    <div class="form-group">
      <label for="alto">Alto</label>
      {{input type="text" class="form-control" value=model.alto}}
    </div>
    <div class="form-group">
      <label for="largo">Largo</label>
      {{input type="text" class="form-control" value=model.largo}}
    </div>
    <div class="form-group">
      <label for="largo">Ancho</label>
      {{input type="text" class="form-control" value=model.ancho}}
    </div>
    <div class="form-group">
      <label for="valor_compra">Valor Compra</label>
      {{input type="text" class="form-control" value=model.valor_compra}}
    </div>
    <div class="form-group">
      <label for="fecha_compra">Fecha Compra</label>
      {{input type="text" class="form-control" placeholder="aaaa-mm-dd" value=model.fecha_compra}}
    </div>
    <div class="form-group">
      <select class="selectpicker" onchange={{action 'selectEstado' value='target.value'}}>
        <option value={{model.estado}}>{{model.estado}}</option>
        <option value="A">Activo</option>
        <option value="B">Dado de Baja</option>
        <option value="E">En Reparacion</option>
        <option value="D">Disponible</option>
        <option value="AS">Asignado</option>
      </select>
    </div>
    <div class="form-group">
      <label for="color">Color</label>
      {{input type="text" class="form-control" value=model.color}}
    </div>
    <button type="submit" class="btn btn-default" {{action 'editActivo' model.id}}>Actualizar</button>
  </form>
</div>
